<ion-content>
  <ion-slides pager="true">

    <!-- Slide 1 -->
    <ion-slide>
      <ion-text color="light">
        <img src="https://media.discordapp.net/attachments/571811073896873985/869032333808893962/E7L7WYuXIAEEmG-.png?width=576&height=668">
        <h1>TOKYO 2020</h1>
        <p>SE BUSCA JUIZ IMPARCIAL EN TOKYO :flag_jp: SE BUSCA JUIZ IMPARCIAL EN TOKYO :flag_jp: SE BUSCA JUIZ IMPARCIAL EN TOKYO :flag_jp: SE BUSCA JUIZ IMPARCIAL EN TOKYO :flag_jp: SE BUSCA JUIZ IMPARCIAL EN TOKYO :flag_jp: SE BUSCA JUIZ IMPARCIAL EN TOKYO :flag_jp: SE BUSCA JUIZ IMPARCIAL EN TOKYO :flag_jp: SE BUSCA JUIZ IMPARCIAL EN TOKYO :flag_jp:</p>
        <ion-button (click)="next()" fill="outline" color="light">Next</ion-button>
      </ion-text>
    </ion-slide>

     <!-- Slide 1 -->
     <ion-slide>
      <ion-text color="light">
        <img src="https://media.discordapp.net/attachments/571811073896873985/869076344737239060/485f163a-cf91-48f4-95a1-bd539d272fab.png?width=626&height=668">
        <h1>Is that true?</h1>
        <p>INVADAM TOKYO, REPITO, INVADAM TOKYO</p>
        <ion-button (click)="start()" fill="outline" color="light">Start</ion-button>
      </ion-text>
    </ion-slide>
  </ion-slides>
</ion-content>
